.form,.form-group{
alignment:center;
}
.container-fluid{

}
.sform{
	border: medium;
}
input[type=text],input[type=password],input[type=email],input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=submit]{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}
input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,input[type=number]:focus {
    border: 3px solid #555;
	width:100%;
    border-radius: 4px;
}

#form{
	margin-right: 0px;
}